
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 532.105rem;
}.brand-d6c {
  width: 100%;
  height: 322.3rem;
  position: relative;
}
.brand-d6c .rectangle-12-WgC {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.brand-d6c .rectangle-15-3w2 {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 249.1469rem;
  top: 0;
  background-color: #101211;
}
.brand-d6c .pexels-tima-miroshnichenko-5846141-5-zbN {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845980-5-iGU {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845968-5-w9E {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846245-5-rmz {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845971-5-bDn {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846282-5-X7S {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845943-5-rfW {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846269-5-N84 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845947-5-ViU {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845950-5-q1e {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845962-5-9HE {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846142-5-THv {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846138-5-a7e {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846150-5-WX6 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845940-5-RPA {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845898-5-KzL {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845895-5-qxg {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845892-5-nN8 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846141-6-e9S {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845980-6-yhW {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845968-6-ubA {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .welding-louisiana-pTE {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .rectangle-13-5e4 {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 24.1578rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-d6c .rectangle-14-1Gp {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 23.2943rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-d6c .get-in-touch-9dv {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 29.7411rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .some-body-copy-goes-right-here-TPi {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .subheading-wZn {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 28.0342rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .pexels-tima-miroshnichenko-5846245-6-qv4 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845971-6-xDz {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846282-6-UCL {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .group-17-QLt {
  width: 51.3101rem;
  height: 8.4064rem;
  position: absolute;
  left: 5.4746rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-d6c .group-17-QLt .group-16-7WC {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-d6c .group-17-QLt .welding-louisiana-dUY {
  margin-top: 0.9418rem;
  width: 41.0307rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-d6c .pexels-tima-miroshnichenko-5845943-6-m4x {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846269-6-tQU {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845947-6-8pc {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845950-6-SqJ {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845962-6-n8U {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846142-6-iH2 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846138-6-ctC {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5846150-6-wQg {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845940-6-2S8 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845898-6-ksv {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845895-6-Hcx {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .pexels-tima-miroshnichenko-5845892-6-E2Q {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-d6c .welding-louisiana-9QG {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .rectangle-16-z9z {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 273.3047rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-d6c .rectangle-17-j7a {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 272.4413rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-d6c .get-in-touch-GtC {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 278.888rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .some-body-copy-goes-right-here-ma4 {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .subheading-EyS {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 277.181rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3d00;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-d6c .group-11-Kjz {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 146.0858rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-19-D4g {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 395.2327rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-18-Yse {
  width: 51.31rem;
  height: 8.4064rem;
  position: absolute;
  left: 254.6214rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-d6c .group-18-Yse .group-16-5sa {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-d6c .group-18-Yse .welding-louisiana-q64 {
  margin-top: 0.9418rem;
  width: 41.0306rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-d6c .group-12-kip {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 193.8136rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-20-hPA {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 442.9604rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-13-r1A {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 172.6502rem;
  top: 276.244rem;
}
.brand-d6c .group-13-r1A .vector-nQc {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-13-r1A .vector-8Da {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-21-V48 {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 421.7971rem;
  top: 276.244rem;
}
.brand-d6c .group-21-V48 .vector-ps6 {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-d6c .group-21-V48 .vector-kkk {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
