
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.color-e9r {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .section-BQg {
    height: 93.9rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 14.4rem 3.2rem;
    width: 100%;

    .mode-u5n {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;

      .theme-light-zsv {
        text-transform: uppercase;
        color: #101211;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.9rem;
        font-size: 8.8rem;
        font-weight: 900;
        line-height: 0.8999999653;
        letter-spacing: -0.088rem;
        font-family: PP Formula, 'Source Sans Pro';
      }
      .grid-WLU {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 109.8rem;

        .auto-group-8jj8-GKe {
          margin-bottom: 3.2rem;
          width: 100%;
          height: 25rem;
          display: flex;
          align-items: center;

          .gridcard-1Y8 {
            position: relative;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 54.3rem;
            height: 100%;
            overflow: hidden;

            .classitem-Mrt {
              white-space: nowrap;
              background-color: #ff3d00;
              border-radius: 0.6rem;
              font-weight: 400;
              display: flex;
              align-items: center;
              font-family: PP Object Sans, 'Source Sans Pro';
              width: 14.2rem;
              height: 3.2rem;
              justify-content: center;
              margin-bottom: 1.6rem;
              line-height: 1.1000000636;
              color: #101211;
              font-size: 1.8rem;
            }
            .swatch-3Up {
              position: relative;
              border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
              box-sizing: border-box;
              background-color: #ffffff;
              border-radius: 1.6rem;
              width: 100%;
              height: 20.2rem;
              overflow: hidden;
            }
          }
          .gridcard-NGC {
            width: 54.3rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;

            .classitem-ymn {
              margin-bottom: 1.6rem;
              line-height: 1.1000000636;
              justify-content: center;
              background-color: #ff3d00;
              width: 7.1rem;
              font-size: 1.8rem;
              display: flex;
              border-radius: 0.6rem;
              font-weight: 400;
              color: #101211;
              font-family: PP Object Sans, 'Source Sans Pro';
              align-items: center;
              height: 3.2rem;
              white-space: nowrap;
            }
            .swatch-5Zv {
              overflow: hidden;
              letter-spacing: -0.088rem;
              color: #101211;
              background-color: #ffffff;
              box-sizing: border-box;
              position: relative;
              text-transform: uppercase;
              font-family: PP Formula, 'Source Sans Pro';
              align-items: center;
              line-height: 0.8999999653;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              width: 100%;
              height: 20.2rem;
              font-size: 8.8rem;
              font-weight: 900;
              border-radius: 1.6rem;
              border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
            }
          }
        }
        .gridcard-Kz4 {
          width: 54.3rem;
          overflow: hidden;
          position: relative;

          .classitem-gZi {
            height: 3.2rem;
            font-size: 1.8rem;
            white-space: nowrap;
            justify-content: center;
            background-color: #ff3d00;
            width: 9.7rem;
            font-family: PP Object Sans, 'Source Sans Pro';
            align-items: center;
            margin-bottom: 1.6rem;
            line-height: 1.1000000636;
            color: #101211;
            display: flex;
            border-radius: 0.6rem;
            font-weight: 400;
          }
          .swatch-yoi {
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1.6rem;
            width: 100%;
            height: 20.2rem;
            overflow: hidden;
            position: relative;
            border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
          }
        }
      }
    }
  }
  .section-WHr {
    padding: 14.4rem 3.2rem;
    width: 100%;
    height: 93.9rem;
    overflow: hidden;
    position: relative;
    background-color: #101211;
    flex-shrink: 0;
    box-sizing: border-box;

    .mode-jAc {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;

      .theme-dark-hNL {
        letter-spacing: -0.088rem;
        font-family: PP Formula, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.9rem;
        font-size: 8.8rem;
        font-weight: 900;
        line-height: 0.8999999653;
        text-transform: uppercase;
        color: #ffffff;
        flex-shrink: 0;
      }
      .grid-n8t {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        width: 109.8rem;

        .auto-group-cpqt-LRJ {
          margin-bottom: 3.2rem;
          width: 100%;
          height: 25rem;
          display: flex;
          align-items: center;

          .gridcard-UnQ {
            position: relative;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 54.3rem;
            height: 100%;
            overflow: hidden;

            .classitem-2ov {
              font-family: PP Object Sans, 'Source Sans Pro';
              font-size: 1.8rem;
              width: 14.2rem;
              height: 3.2rem;
              font-weight: 400;
              background-color: #ff3d00;
              border-radius: 0.6rem;
              margin-bottom: 1.6rem;
              display: flex;
              align-items: center;
              line-height: 1.1000000636;
              white-space: nowrap;
              justify-content: center;
              color: #101211;
            }
            .swatch-ucp {
              box-sizing: border-box;
              background-color: #101211;
              border-radius: 1.6rem;
              width: 100%;
              height: 20.2rem;
              overflow: hidden;
              position: relative;
              border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
            }
          }
          .gridcard-nwW {
            position: relative;
            flex-shrink: 0;
            width: 54.3rem;
            height: 100%;
            overflow: hidden;

            .classitem-ktL {
              width: 7.1rem;
              font-family: PP Object Sans, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              height: 3.2rem;
              font-size: 1.8rem;
              line-height: 1.1000000636;
              background-color: #ff3d00;
              color: #101211;
              white-space: nowrap;
              display: flex;
              margin-bottom: 1.6rem;
              font-weight: 400;
              border-radius: 0.6rem;
            }
            .swatch-eD2 {
              align-items: center;
              border-radius: 1.6rem;
              width: 100%;
              font-size: 8.8rem;
              font-weight: 900;
              line-height: 0.8999999653;
              font-family: PP Formula, 'Source Sans Pro';
              height: 20.2rem;
              overflow: hidden;
              position: relative;
              color: #ffffff;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              background-color: #101211;
              letter-spacing: -0.088rem;
              text-transform: uppercase;
              white-space: nowrap;
              border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
            }
          }
        }
        .gridcard-fdv {
          position: relative;
          width: 54.3rem;
          overflow: hidden;

          .classitem-dKr {
            height: 3.2rem;
            font-size: 1.8rem;
            align-items: center;
            background-color: #ff3d00;
            margin-bottom: 1.6rem;
            line-height: 1.1000000636;
            color: #101211;
            white-space: nowrap;
            justify-content: center;
            border-radius: 0.6rem;
            width: 9.7rem;
            font-weight: 400;
            font-family: PP Object Sans, 'Source Sans Pro';
            display: flex;
          }
          .swatch-wLY {
            background-color: #101211;
            border-radius: 1.6rem;
            width: 100%;
            height: 20.2rem;
            overflow: hidden;
            position: relative;
            border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
