
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.spacing-zMz {
  position: relative;
  width: 100%;
  height: 176.2rem;
  overflow: hidden;

  .section-tiG {
    box-sizing: border-box;
    padding: 14.4rem 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #101211;

    .spacing-En8 {
      font-weight: 900;
      line-height: 0.8999999653;
      letter-spacing: -0.088rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 7.9rem;
      font-size: 8.8rem;
      text-transform: uppercase;
      color: #ffffff;
      font-family: PP Formula, 'Source Sans Pro';
    }
    .all-values-9u6 {
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      font-size: 2.4rem;
      line-height: 0.8999999364;
      font-family: PP Object Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 700;
      letter-spacing: -0.024rem;
      text-transform: uppercase;
      color: #ffffff;
    }
    .list-t5z {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      overflow: hidden;
      position: relative;
      row-gap: 1.2rem;
      align-items: center;

      .item-Qa8 {
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        padding-right: 124.3rem;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;

        .value-ZC8 {
          width: 12.4rem;
          font-weight: 400;
          color: #ffffff;
          display: flex;
          box-sizing: border-box;
          height: 4.3rem;
          line-height: 1.5;
          border-radius: 1.6rem;
          flex-shrink: 0;
          font-size: 1.8rem;
          white-space: nowrap;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          margin-right: 0.8rem;
          font-family: PP Object Sans, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          background-color: #101211;
        }
        .space-QTe {
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 0.1rem;
          height: 4.3rem;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;

          .spaceinner-X2U {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0.1rem;
          }
        }
      }
      .item-qJ4 {
        padding-right: 124.1rem;
        width: 100%;
        height: 5.5rem;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;

        .value-Bcp {
          width: 12.4rem;
          font-size: 1.8rem;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          font-family: PP Object Sans, 'Source Sans Pro';
          align-items: center;
          box-sizing: border-box;
          justify-content: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          margin-right: 0.8rem;
          height: 4.3rem;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 1.6rem;
        }
        .space-fXz {
          padding-left: 0.2rem;
          width: 0.3rem;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;
          height: 4.3rem;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .spaceinner-27e {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-hDn {
        padding-right: 123.9rem;
        width: 100%;
        height: 5.5rem;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;

        .value-crY {
          margin-right: 0.8rem;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          width: 12.4rem;
          font-weight: 400;
          line-height: 1.5;
          background-color: #101211;
          display: flex;
          justify-content: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          box-sizing: border-box;
          height: 4.3rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: PP Object Sans, 'Source Sans Pro';
          border-radius: 1.6rem;
        }
        .space-fK2 {
          padding-left: 0.4rem;
          width: 0.5rem;
          position: relative;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 4.3rem;
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 1.6rem;

          .spaceinner-pBv {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-Y7v {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        padding-right: 123.5rem;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;

        .value-tha {
          align-items: center;
          margin-right: 0.8rem;
          width: 12.4rem;
          font-family: PP Object Sans, 'Source Sans Pro';
          background-color: #101211;
          height: 4.3rem;
          line-height: 1.5;
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          border-radius: 1.6rem;
          font-size: 1.8rem;
          color: #ffffff;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          flex-shrink: 0;
          font-weight: 400;
          display: flex;
        }
        .space-YXE {
          padding-left: 0.8rem;
          height: 4.3rem;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 0.9rem;
          overflow: hidden;
          position: relative;

          .spaceinner-U9z {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-wpG {
        height: 5.5rem;
        overflow: hidden;
        display: flex;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 123.1rem;
        width: 100%;
        position: relative;
        align-items: flex-start;

        .value-Ht8 {
          height: 4.3rem;
          font-size: 1.8rem;
          color: #ffffff;
          align-items: center;
          border-radius: 1.6rem;
          margin-right: 0.8rem;
          width: 12.4rem;
          font-weight: 400;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          font-family: PP Object Sans, 'Source Sans Pro';
          justify-content: center;
          box-sizing: border-box;
          background-color: #101211;
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
        }
        .space-Neg {
          padding-left: 1.2rem;
          width: 1.3rem;
          position: relative;
          box-sizing: border-box;
          height: 4.3rem;
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .spaceinner-8Nx {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-FTa {
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        padding-right: 122.7rem;
        width: 100%;
        flex-shrink: 0;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);

        .value-Zz4 {
          font-weight: 400;
          align-items: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          font-size: 1.8rem;
          color: #ffffff;
          height: 4.3rem;
          display: flex;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 12.4rem;
          line-height: 1.5;
          font-family: PP Object Sans, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
        }
        .space-E4c {
          padding-left: 1.6rem;
          width: 1.7rem;
          background-color: #ffffff;
          box-sizing: border-box;
          height: 4.3rem;
          overflow: hidden;
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .spaceinner-kYk {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-Gmz {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 121.9rem;
        width: 100%;
        height: 5.5rem;
        position: relative;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        overflow: hidden;
        display: flex;

        .value-Dx8 {
          font-size: 1.8rem;
          line-height: 1.5;
          font-family: PP Object Sans, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          border-radius: 1.6rem;
          width: 12.4rem;
          box-sizing: border-box;
          display: flex;
          height: 4.3rem;
          font-weight: 400;
          color: #ffffff;
          margin-right: 0.8rem;
          align-items: center;
          background-color: #101211;
          flex-shrink: 0;
          white-space: nowrap;
        }
        .space-g52 {
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 2.4rem;
          height: 4.3rem;
          width: 2.5rem;
          border-radius: 1.6rem;

          .spaceinner-qCp {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0.1rem;
          }
        }
      }
      .item-LQU {
        width: 100%;
        position: relative;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        box-sizing: border-box;
        padding-right: 121.1rem;
        height: 5.5rem;
        overflow: hidden;
        display: flex;
        flex-shrink: 0;

        .value-H4p {
          height: 4.3rem;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 1.6rem;
          margin-right: 0.8rem;
          line-height: 1.5;
          font-family: PP Object Sans, 'Source Sans Pro';
          display: flex;
          width: 12.4rem;
          align-items: center;
          box-sizing: border-box;
          flex-shrink: 0;
          font-size: 1.8rem;
          justify-content: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          font-weight: 400;
        }
        .space-wQG {
          width: 3.3rem;
          height: 4.3rem;
          position: relative;
          background-color: #ffffff;
          box-sizing: border-box;
          overflow: hidden;
          border-radius: 1.6rem;
          flex-shrink: 0;
          padding-left: 3.2rem;

          .spaceinner-VRn {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-bji {
        padding-right: 119.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);

        .value-xaG {
          font-weight: 400;
          line-height: 1.5;
          box-sizing: border-box;
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-family: PP Object Sans, 'Source Sans Pro';
          justify-content: center;
          background-color: #101211;
          width: 12.4rem;
          height: 4.3rem;
          font-size: 1.8rem;
          align-items: center;
          border-radius: 1.6rem;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
        }
        .space-1oS {
          padding-left: 4.8rem;
          height: 4.3rem;
          background-color: #ffffff;
          box-sizing: border-box;
          overflow: hidden;
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 4.9rem;

          .spaceinner-yEU {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-bWk {
        box-sizing: border-box;
        height: 5.5rem;
        overflow: hidden;
        padding-right: 117.9rem;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;

        .value-Ywn {
          color: #ffffff;
          display: flex;
          box-sizing: border-box;
          margin-right: 0.8rem;
          width: 12.4rem;
          font-size: 1.8rem;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          border-radius: 1.6rem;
          height: 4.3rem;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          font-family: PP Object Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .space-3de {
          width: 6.5rem;
          overflow: hidden;
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;
          padding-left: 6.4rem;
          height: 4.3rem;
          background-color: #ffffff;
          box-sizing: border-box;

          .spaceinner-PxQ {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-vSY {
        box-sizing: border-box;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        padding-right: 116.3rem;
        width: 100%;

        .value-gRi {
          height: 4.3rem;
          font-size: 1.8rem;
          display: flex;
          align-items: center;
          border-radius: 1.6rem;
          width: 12.4rem;
          line-height: 1.5;
          color: #ffffff;
          font-family: PP Object Sans, 'Source Sans Pro';
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          flex-shrink: 0;
          margin-right: 0.8rem;
          justify-content: center;
          box-sizing: border-box;
          white-space: nowrap;
          font-weight: 400;
        }
        .space-jun {
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 1.6rem;
          box-sizing: border-box;
          padding-left: 8rem;
          height: 4.3rem;
          width: 8.1rem;
          position: relative;
          flex-shrink: 0;

          .spaceinner-Gui {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-kpt {
        position: relative;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        padding-right: 114.7rem;
        height: 5.5rem;

        .value-uxg {
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          height: 4.3rem;
          align-items: center;
          box-sizing: border-box;
          justify-content: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          font-family: PP Object Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #101211;
          width: 12.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;
          line-height: 1.5;
        }
        .space-yhe {
          padding-left: 9.6rem;
          height: 4.3rem;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 9.7rem;
          overflow: hidden;
          position: relative;

          .spaceinner-Jjv {
            height: 0.1rem;
            overflow: hidden;
            position: relative;
            width: 100%;
          }
        }
      }
      .item-RZe {
        display: flex;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        padding-right: 113.1rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        height: 5.5rem;
        align-items: flex-start;

        .value-BHv {
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          flex-shrink: 0;
          line-height: 1.5;
          color: #ffffff;
          justify-content: center;
          background-color: #101211;
          width: 12.4rem;
          white-space: nowrap;
          font-family: PP Object Sans, 'Source Sans Pro';
          align-items: center;
          border-radius: 1.6rem;
          margin-right: 0.8rem;
          height: 4.3rem;
          display: flex;
          box-sizing: border-box;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .space-mmv {
          overflow: hidden;
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;
          height: 4.3rem;
          padding-left: 11.2rem;
          width: 11.3rem;
          background-color: #ffffff;
          box-sizing: border-box;

          .spaceinner-XFJ {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-T8x {
        position: relative;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        padding-right: 14.5rem;
        height: 5.5rem;

        .value-C6Y {
          color: #ffffff;
          justify-content: center;
          width: 12.4rem;
          font-weight: 400;
          flex-shrink: 0;
          font-size: 1.8rem;
          display: flex;
          white-space: nowrap;
          background-color: #101211;
          border-radius: 1.6rem;
          margin-right: 0.8rem;
          font-family: PP Object Sans, 'Source Sans Pro';
          align-items: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          box-sizing: border-box;
          height: 4.3rem;
          line-height: 1.5;
        }
        .space-2bN {
          position: relative;
          background-color: #ffffff;
          border-radius: 1.6rem;
          width: 109.9rem;
          height: 4.3rem;
          overflow: hidden;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 109.8rem;

          .spaceinner-xjv {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-tda {
        flex-shrink: 0;
        display: flex;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        width: 100%;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        box-sizing: border-box;
        padding-right: 109.9rem;

        .value-qHv {
          margin-right: 0.8rem;
          font-family: PP Object Sans, 'Source Sans Pro';
          box-sizing: border-box;
          width: 12.4rem;
          line-height: 1.5;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          border-radius: 1.6rem;
          flex-shrink: 0;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          height: 4.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          color: #ffffff;
          align-items: center;
        }
        .space-h5E {
          flex-shrink: 0;
          box-sizing: border-box;
          height: 4.3rem;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.6rem;
          padding-left: 14.4rem;
          width: 14.5rem;
          overflow: hidden;

          .spaceinner-eWG {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0.1rem;
          }
        }
      }
      .item-x1A {
        box-sizing: border-box;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        padding-right: 108.3rem;
        width: 100%;
        height: 5.5rem;
        overflow: hidden;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);

        .value-hzL {
          margin-right: 0.8rem;
          height: 4.3rem;
          line-height: 1.5;
          color: #ffffff;
          align-items: center;
          background-color: #101211;
          font-weight: 400;
          white-space: nowrap;
          display: flex;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          flex-shrink: 0;
          width: 12.4rem;
          justify-content: center;
          box-sizing: border-box;
          border-radius: 1.6rem;
          font-size: 1.8rem;
          font-family: PP Object Sans, 'Source Sans Pro';
        }
        .space-xfN {
          position: relative;
          border-radius: 1.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 16.1rem;
          height: 4.3rem;
          overflow: hidden;
          background-color: #ffffff;
          padding-left: 16rem;

          .spaceinner-6Fn {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
      .item-QGU {
        width: 100%;
        height: 5.5rem;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 105.1rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .value-xYt {
          display: flex;
          box-sizing: border-box;
          font-size: 1.8rem;
          line-height: 1.5;
          color: #ffffff;
          margin-right: 0.8rem;
          align-items: center;
          flex-shrink: 0;
          font-family: PP Object Sans, 'Source Sans Pro';
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          white-space: nowrap;
          justify-content: center;
          background-color: #101211;
          border-radius: 1.6rem;
          width: 12.4rem;
          height: 4.3rem;
          font-weight: 400;
        }
        .space-ewW {
          box-sizing: border-box;
          width: 19.3rem;
          height: 4.3rem;
          overflow: hidden;
          padding-left: 19.2rem;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .spaceinner-Ci8 {
            height: 0.1rem;
            overflow: hidden;
            position: relative;
            width: 100%;
          }
        }
      }
      .item-vu2 {
        padding-right: 101.9rem;
        width: 100%;
        overflow: hidden;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        box-sizing: border-box;
        height: 5.5rem;
        position: relative;
        display: flex;
        align-items: flex-start;

        .value-gtC {
          color: #ffffff;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          background-color: #101211;
          font-size: 1.8rem;
          display: flex;
          box-sizing: border-box;
          border-radius: 1.6rem;
          width: 12.4rem;
          height: 4.3rem;
          font-weight: 400;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.8rem;
          line-height: 1.5;
          font-family: PP Object Sans, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
        }
        .space-7ic {
          box-sizing: border-box;
          flex-shrink: 0;
          padding-left: 22.4rem;
          width: 22.5rem;
          height: 4.3rem;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.6rem;

          .spaceinner-ZKi {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 0.1rem;
          }
        }
      }
      .item-Egk {
        padding-right: 98.7rem;
        height: 5.5rem;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);

        .value-NY4 {
          white-space: nowrap;
          justify-content: center;
          width: 12.4rem;
          font-weight: 400;
          font-family: PP Object Sans, 'Source Sans Pro';
          margin-right: 0.8rem;
          color: #ffffff;
          display: flex;
          background-color: #101211;
          flex-shrink: 0;
          height: 4.3rem;
          font-size: 1.8rem;
          line-height: 1.5;
          border-radius: 1.6rem;
          align-items: center;
          border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
          box-sizing: border-box;
        }
        .space-dit {
          box-sizing: border-box;
          padding-left: 25.6rem;
          width: 25.7rem;
          height: 4.3rem;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .spaceinner-b9v {
            width: 100%;
            height: 0.1rem;
            overflow: hidden;
            position: relative;
          }
        }
      }
    }
  }
}
