
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 532.105rem;
}.brand-d6c {
  position: relative;
  width: 100%;
  height: 322.3rem;

  .rectangle-12-WgC {
    width: 234.2664rem;
    height: 322.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
  }
  .rectangle-15-3w2 {
    left: 249.1469rem;
    top: 0;
    background-color: #101211;
    width: 234.2664rem;
    height: 322.3rem;
    position: absolute;
  }
  .pexels-tima-miroshnichenko-5846141-5-zbN {
    left: 174.8364rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
  }
  .pexels-tima-miroshnichenko-5845980-5-iGU {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 138.0025rem;
    top: 152.4789rem;
  }
  .pexels-tima-miroshnichenko-5845968-5-w9E {
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 174.8364rem;
    top: 152.4789rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5846245-5-rmz {
    left: 138.0025rem;
    top: 177.4634rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
  }
  .pexels-tima-miroshnichenko-5845971-5-bDn {
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 60.9916rem;
    top: 182.6073rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5846282-5-X7S {
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 138.0025rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845943-5-rfW {
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 174.8364rem;
    top: 177.4634rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5846269-5-N84 {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 138.0025rem;
    top: 202.4479rem;
  }
  .pexels-tima-miroshnichenko-5845947-5-ViU {
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 97.8254rem;
    top: 182.6073rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5845950-5-q1e {
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 60.9916rem;
    top: 127.4944rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5845962-5-9HE {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 97.8254rem;
    top: 127.4944rem;
  }
  .pexels-tima-miroshnichenko-5846142-5-THv {
    height: 23.5148rem;
    position: absolute;
    left: 174.8364rem;
    top: 202.4479rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
  }
  .pexels-tima-miroshnichenko-5846138-5-a7e {
    height: 52.9083rem;
    position: absolute;
    left: 97.8254rem;
    top: 237.7201rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
  }
  .pexels-tima-miroshnichenko-5846150-5-WX6 {
    position: absolute;
    left: 60.9916rem;
    top: 237.7201rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
  }
  .pexels-tima-miroshnichenko-5845940-5-RPA {
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 24.1578rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845898-5-KzL {
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 24.1578rem;
    top: 182.6073rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845895-5-qxg {
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 24.1578rem;
    top: 237.7201rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5845892-5-nN8 {
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 138.0025rem;
    top: 227.4324rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5846141-6-e9S {
    position: absolute;
    left: 423.9833rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
  }
  .pexels-tima-miroshnichenko-5845980-6-yhW {
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 387.1495rem;
    top: 152.4789rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845968-6-ubA {
    position: absolute;
    left: 423.9833rem;
    top: 152.4789rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
  }
  .welding-louisiana-pTE {
    font-weight: 900;
    line-height: 1.2575;
    height: 35.1rem;
    left: 24.1578rem;
    font-size: 27.8604rem;
    text-transform: uppercase;
    color: #101211;
    font-family: PP Formula, 'Source Sans Pro';
    white-space: nowrap;
    width: 258.8rem;
    position: absolute;
    top: 50.9059rem;
  }
  .rectangle-13-5e4 {
    top: 96.8149rem;
    background-color: #ff3d00;
    width: 41.7388rem;
    height: 13.0403rem;
    position: absolute;
    left: 24.1578rem;
  }
  .rectangle-14-1Gp {
    height: 3.0312rem;
    position: absolute;
    left: 23.2943rem;
    top: 45.7253rem;
    background-color: #ff3d00;
    width: 2.8108rem;
  }
  .get-in-touch-9dv {
    height: 5.1rem;
    position: absolute;
    font-size: 4.0455rem;
    line-height: 1.2575;
    font-family: PP Object Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 25rem;
    left: 29.7411rem;
    top: 100.7109rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #101211;
  }
  .some-body-copy-goes-right-here-TPi {
    font-size: 4.0455rem;
    left: 24.1578rem;
    height: 5.1rem;
    position: absolute;
    top: 82.6877rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #101211;
    font-family: PP Object Sans, 'Source Sans Pro';
    width: 53.9rem;
    white-space: nowrap;
  }
  .subheading-wZn {
    font-family: PP Object Sans, 'Source Sans Pro';
    white-space: nowrap;
    height: 5.1rem;
    left: 28.0342rem;
    top: 44.4393rem;
    color: #101211;
    line-height: 1.2575;
    width: 20.3rem;
    position: absolute;
    font-size: 4.0455rem;
    font-weight: 400;
  }
  .pexels-tima-miroshnichenko-5846245-6-qv4 {
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 387.1495rem;
    top: 177.4634rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845971-6-xDz {
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 310.1384rem;
    top: 182.6073rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5846282-6-UCL {
    left: 387.1495rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
  }
  .group-17-QLt {
    position: absolute;
    left: 5.4746rem;
    top: 6.2094rem;
    display: flex;
    align-items: center;
    width: 51.3101rem;
    height: 8.4064rem;

    .group-16-7WC {
      flex-shrink: 0;
      margin-right: 1.8113rem;
      width: 8.4681rem;
      height: 8.4064rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .welding-louisiana-dUY {
      margin-top: 0.9418rem;
      width: 41.0307rem;
      height: 4.9246rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .pexels-tima-miroshnichenko-5845943-6-m4x {
    left: 423.9833rem;
    top: 177.4634rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
  }
  .pexels-tima-miroshnichenko-5846269-6-tQU {
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 387.1495rem;
    top: 202.4479rem;
    object-fit: cover;
  }
  .pexels-tima-miroshnichenko-5845947-6-8pc {
    top: 182.6073rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 346.9722rem;
  }
  .pexels-tima-miroshnichenko-5845950-6-SqJ {
    height: 52.9083rem;
    position: absolute;
    left: 310.1384rem;
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
  }
  .pexels-tima-miroshnichenko-5845962-6-n8U {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 346.9722rem;
    top: 127.4944rem;
  }
  .pexels-tima-miroshnichenko-5846142-6-iH2 {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 23.5148rem;
    position: absolute;
    left: 423.9833rem;
    top: 202.4479rem;
  }
  .pexels-tima-miroshnichenko-5846138-6-ctC {
    position: absolute;
    left: 346.9722rem;
    top: 237.7201rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
  }
  .pexels-tima-miroshnichenko-5846150-6-wQg {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 310.1384rem;
    top: 237.7201rem;
  }
  .pexels-tima-miroshnichenko-5845940-6-2S8 {
    top: 127.4944rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 273.3047rem;
  }
  .pexels-tima-miroshnichenko-5845898-6-ksv {
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 273.3047rem;
    top: 182.6073rem;
  }
  .pexels-tima-miroshnichenko-5845895-6-Hcx {
    width: 35.2722rem;
    height: 52.9083rem;
    position: absolute;
    left: 273.3047rem;
    top: 237.7201rem;
    object-fit: cover;
    vertical-align: top;
  }
  .pexels-tima-miroshnichenko-5845892-6-E2Q {
    height: 23.5148rem;
    position: absolute;
    left: 387.1495rem;
    top: 227.4324rem;
    object-fit: cover;
    vertical-align: top;
    width: 35.2722rem;
  }
  .welding-louisiana-9QG {
    line-height: 1.2575;
    color: #ffffff;
    font-family: PP Formula, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 273.3047rem;
    top: 50.9059rem;
    font-size: 27.8604rem;
    font-weight: 900;
    text-transform: uppercase;
    width: 258.8rem;
    height: 35.1rem;
  }
  .rectangle-16-z9z {
    background-color: #ff3d00;
    width: 41.7388rem;
    height: 13.0403rem;
    position: absolute;
    left: 273.3047rem;
    top: 96.8149rem;
  }
  .rectangle-17-j7a {
    top: 45.7253rem;
    background-color: #ff3d00;
    width: 2.8108rem;
    height: 3.0312rem;
    position: absolute;
    left: 272.4413rem;
  }
  .get-in-touch-GtC {
    font-size: 4.0455rem;
    color: #101211;
    font-family: PP Object Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 25rem;
    height: 5.1rem;
    top: 100.7109rem;
    line-height: 1.2575;
    text-transform: uppercase;
    position: absolute;
    left: 278.888rem;
    font-weight: 700;
  }
  .some-body-copy-goes-right-here-ma4 {
    font-weight: 400;
    line-height: 1.2575;
    white-space: nowrap;
    height: 5.1rem;
    position: absolute;
    top: 82.6877rem;
    color: #ffffff;
    font-family: PP Object Sans, 'Source Sans Pro';
    width: 53.9rem;
    left: 273.3047rem;
    font-size: 4.0455rem;
  }
  .subheading-EyS {
    font-size: 4.0455rem;
    font-weight: 400;
    line-height: 1.2575;
    font-family: PP Object Sans, 'Source Sans Pro';
    width: 20.3rem;
    position: absolute;
    top: 44.4393rem;
    white-space: nowrap;
    height: 5.1rem;
    left: 277.181rem;
    color: #ff3d00;
  }
  .group-11-Kjz {
    object-fit: contain;
    vertical-align: top;
    width: 16.5519rem;
    height: 16.5518rem;
    position: absolute;
    left: 146.0858rem;
    top: 274.0762rem;
  }
  .group-19-D4g {
    object-fit: contain;
    vertical-align: top;
    width: 16.5519rem;
    height: 16.5518rem;
    position: absolute;
    left: 395.2327rem;
    top: 274.0762rem;
  }
  .group-18-Yse {
    display: flex;
    align-items: center;
    width: 51.31rem;
    height: 8.4064rem;
    position: absolute;
    left: 254.6214rem;
    top: 6.2094rem;

    .group-16-5sa {
      margin-right: 1.8113rem;
      width: 8.4681rem;
      height: 8.4064rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .welding-louisiana-q64 {
      flex-shrink: 0;
      margin-top: 0.9418rem;
      width: 41.0306rem;
      height: 4.9246rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .group-12-kip {
    left: 193.8136rem;
    top: 274.2048rem;
    object-fit: contain;
    vertical-align: top;
    width: 16.295rem;
    height: 16.295rem;
    position: absolute;
  }
  .group-20-hPA {
    top: 274.2048rem;
    object-fit: contain;
    vertical-align: top;
    width: 16.295rem;
    height: 16.295rem;
    position: absolute;
    left: 442.9604rem;
  }
  .group-13-r1A {
    height: 12.2303rem;
    position: absolute;
    left: 172.6502rem;
    top: 276.244rem;
    width: 11.1512rem;

    .vector-nQc {
      margin-bottom: 1.4474rem;
      width: 9.605rem;
      height: 7.1858rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-8Da {
      height: 3.5972rem;
      object-fit: contain;
      vertical-align: top;
      width: 11.1512rem;
    }
  }
  .group-21-V48 {
    top: 276.244rem;
    width: 11.1512rem;
    height: 12.2303rem;
    position: absolute;
    left: 421.7971rem;

    .vector-ps6 {
      margin-bottom: 1.4474rem;
      width: 9.605rem;
      height: 7.1858rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-kkk {
      width: 11.1512rem;
      height: 3.5972rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
