
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 532.105rem;
}.brand-h4Q {
  width: 100%;
  height: 322.3rem;
  position: relative;
}
.brand-h4Q .rectangle-12-mpx {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.brand-h4Q .rectangle-15-6cL {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 249.1469rem;
  top: 0;
  background-color: #101211;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846141-5-EiY {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845980-5-8ov {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845968-5-3vt {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846245-5-yZe {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845971-5-5sa {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846282-5-Bvc {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845943-5-he4 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846269-5-E8C {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845947-5-Yeg {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845950-5-sS4 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845962-5-Ntc {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846142-5-JXN {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846138-5-2CU {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846150-5-wqE {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845940-5-U4U {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845898-5-atC {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845895-5-6rY {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845892-5-q3S {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846141-6-ZEL {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845980-6-gJx {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845968-6-bRv {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .welding-louisiana-7v4 {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .rectangle-13-ont {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 24.1578rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-h4Q .rectangle-14-8aG {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 23.2943rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-h4Q .get-in-touch-s24 {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 29.7411rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .some-body-copy-goes-right-here-NUc {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .subheading-fCp {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 28.0342rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846245-6-BBA {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845971-6-VxY {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846282-6-RbJ {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .group-17-kda {
  width: 51.3101rem;
  height: 8.4064rem;
  position: absolute;
  left: 5.4746rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-h4Q .group-17-kda .group-16-Grp {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-h4Q .group-17-kda .welding-louisiana-ork {
  margin-top: 0.9418rem;
  width: 41.0307rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845943-6-Lbn {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846269-6-3WC {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845947-6-yPr {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845950-6-W8t {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845962-6-qBA {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846142-6-MvC {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846138-6-tQL {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5846150-6-pHz {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845940-6-wNc {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845898-6-s1N {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845895-6-ne8 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .pexels-tima-miroshnichenko-5845892-6-vEY {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-h4Q .welding-louisiana-Sya {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .rectangle-16-Ymi {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 273.3047rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-h4Q .rectangle-17-tKn {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 272.4413rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-h4Q .get-in-touch-pjE {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 278.888rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .some-body-copy-goes-right-here-7CY {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .subheading-Cjn {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 277.181rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3d00;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-h4Q .group-11-uPJ {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 146.0858rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-19-2yi {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 395.2327rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-18-Mm6 {
  width: 51.31rem;
  height: 8.4064rem;
  position: absolute;
  left: 254.6214rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-h4Q .group-18-Mm6 .group-16-Uap {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-h4Q .group-18-Mm6 .welding-louisiana-pPn {
  margin-top: 0.9418rem;
  width: 41.0306rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-h4Q .group-12-Z6U {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 193.8136rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-20-teY {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 442.9604rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-13-31e {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 172.6502rem;
  top: 276.244rem;
}
.brand-h4Q .group-13-31e .vector-NZi {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-13-31e .vector-v5S {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-21-rUt {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 421.7971rem;
  top: 276.244rem;
}
.brand-h4Q .group-21-rUt .vector-zLC {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-h4Q .group-21-rUt .vector-joa {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
