
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.global-styles-dhN {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.global-styles-dhN .section-m2t {
  box-sizing: border-box;
  padding: 14.4rem 3.2rem 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-m2t .global-styles-gQk {
  margin-bottom: 7.9rem;
  font-size: 8.8rem;
  font-weight: 900;
  line-height: 0.8999999653;
  letter-spacing: -0.088rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-m2t .section-top-bottom-small-nTn {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-m2t .spacesection-HQY {
  box-sizing: border-box;
  padding: 4.8rem 0;
  width: 100%;
  height: 20.9rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  background-color: #ffffff;
  flex-shrink: 0;
}
.global-styles-dhN .section-m2t .spacesection-HQY .spaceinner-E4t {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.15rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
}
.global-styles-dhN .section-Kc8 {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-Kc8 .section-top-bottom-main-sNk {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-Kc8 .spacesection-P6C {
  box-sizing: border-box;
  padding: 8rem 0;
  width: 100%;
  height: 27.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  background-color: #ffffff;
  flex-shrink: 0;
}
.global-styles-dhN .section-Kc8 .spacesection-P6C .spaceinner-XiC {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.15rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
}
.global-styles-dhN .section-SaG {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-SaG .section-top-bottom-large-ne8 {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-SaG .spacesection-7Ac {
  box-sizing: border-box;
  padding: 14.4rem 0;
  width: 100%;
  height: 40.1rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  background-color: #ffffff;
  flex-shrink: 0;
}
.global-styles-dhN .section-SaG .spacesection-7Ac .spaceinner-3px {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.15rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
}
.global-styles-dhN .section-9sz {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-9sz .section-horizontal-main-JVz {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-9sz .spacesection-CrG {
  box-sizing: border-box;
  padding: 0 3.2rem;
  width: 100%;
  height: 11.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  background-color: #ffffff;
  flex-shrink: 0;
}
.global-styles-dhN .section-9sz .spacesection-CrG .spaceinner-MUG {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.15rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
}
.global-styles-dhN .section-47n {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-47n .radius-132 {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-47n .grid-KpQ {
  width: 109.8rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 23.3rem;
  display: flex;
  align-items: center;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-pFN {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 54.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-pFN .radius-MWC {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 11.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 0.6rem;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-pFN .classitem-4vQ {
  width: 8.1rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-XZ6 {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 54.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-XZ6 .radius-The {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 11.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
}
.global-styles-dhN .section-47n .grid-KpQ .auto-group-uwar-sqv .gridcard-XZ6 .classitem-miL {
  width: 7.9rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.global-styles-dhN .section-47n .grid-KpQ .gridcard-e1S {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 54.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  background-color: #101211;
  border-radius: 1.6rem;
}
.global-styles-dhN .section-47n .grid-KpQ .gridcard-e1S .radius-nNY {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 11.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 9999.9rem;
}
.global-styles-dhN .section-47n .grid-KpQ .gridcard-e1S .classitem-WZS {
  width: 8.9rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.global-styles-dhN .section-kya {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem 14.4rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-kya .border-width-HyW {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.global-styles-dhN .section-kya .grid-DMN {
  width: 68.2rem;
  height: 23.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.global-styles-dhN .section-kya .grid-DMN .gridcard-y5e {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  background-color: #101211;
  border-radius: 1.6rem;
}
.global-styles-dhN .section-kya .grid-DMN .gridcard-y5e .radius-KQQ {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 11.3rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  background-color: #101211;
  flex-shrink: 0;
}
.global-styles-dhN .section-kya .grid-DMN .gridcard-y5e .classitem-Sjv {
  width: 7.9rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
