
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.lumos-g5r {
  box-sizing: border-box;
  padding: 24.858rem 47.576rem 24.858rem 47.577rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #131312;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/lumos-bg.png');
}
.lumos-g5r .text-md6 {
  margin: 0rem 2.701rem 8rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN {
  margin-bottom: 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-bME {
  margin-right: 2.1858rem;
  width: 9.8837rem;
  height: 9.8837rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-vuJ {
  margin: 0rem 0.58rem 0.513rem 0rem;
  width: 5.8878rem;
  height: 8.9601rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-rY4 {
  margin: 0rem 1.118rem 0.411rem 0rem;
  width: 5.9777rem;
  height: 6.5536rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-nAp {
  margin: 0rem 0.88rem 0.513rem 0rem;
  width: 9.8821rem;
  height: 6.5536rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-iaG {
  margin: 0rem 0.535rem 0.411rem 0rem;
  width: 6.7452rem;
  height: 6.6559rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .logo-fyN .vector-eTv {
  margin-bottom: 0.4101rem;
  width: 5.1714rem;
  height: 6.6559rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.lumos-g5r .text-Bik {
  margin-right: 4.1005rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
