
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.spacing-rfe {
  width: 100%;
  height: 176.2rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat {
  box-sizing: border-box;
  padding: 14.4rem 3.2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #101211;
}
.spacing-rfe .section-oat .spacing-Y2g {
  margin-bottom: 7.9rem;
  font-size: 8.8rem;
  font-weight: 900;
  line-height: 0.8999999653;
  letter-spacing: -0.088rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .all-values-3VE {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 {
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-SnG {
  box-sizing: border-box;
  padding-right: 124.3rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-SnG .value-mpY {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-SnG .space-DgY {
  width: 0.1rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-SnG .space-DgY .spaceinner-NJY {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-sm6 {
  box-sizing: border-box;
  padding-right: 124.1rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-sm6 .value-pgL {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-sm6 .space-c6Q {
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 0.3rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-sm6 .space-c6Q .spaceinner-KFi {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-PWU {
  box-sizing: border-box;
  padding-right: 123.9rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-PWU .value-jKS {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-PWU .space-QAg {
  box-sizing: border-box;
  padding-left: 0.4rem;
  width: 0.5rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-PWU .space-QAg .spaceinner-8cU {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-3De {
  box-sizing: border-box;
  padding-right: 123.5rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-3De .value-ajN {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-3De .space-bPa {
  box-sizing: border-box;
  padding-left: 0.8rem;
  width: 0.9rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-3De .space-bPa .spaceinner-8uJ {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-eMr {
  box-sizing: border-box;
  padding-right: 123.1rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-eMr .value-bXz {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-eMr .space-Gu2 {
  box-sizing: border-box;
  padding-left: 1.2rem;
  width: 1.3rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-eMr .space-Gu2 .spaceinner-DZN {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-WYU {
  box-sizing: border-box;
  padding-right: 122.7rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-WYU .value-44C {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-WYU .space-uqW {
  box-sizing: border-box;
  padding-left: 1.6rem;
  width: 1.7rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-WYU .space-uqW .spaceinner-4TW {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-xon {
  box-sizing: border-box;
  padding-right: 121.9rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-xon .value-iHA {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-xon .space-CCL {
  box-sizing: border-box;
  padding-left: 2.4rem;
  width: 2.5rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-xon .space-CCL .spaceinner-97a {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-FgQ {
  box-sizing: border-box;
  padding-right: 121.1rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-FgQ .value-QZJ {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-FgQ .space-6BE {
  box-sizing: border-box;
  padding-left: 3.2rem;
  width: 3.3rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-FgQ .space-6BE .spaceinner-SF6 {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-LrG {
  box-sizing: border-box;
  padding-right: 119.5rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-LrG .value-VUG {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-LrG .space-AqJ {
  box-sizing: border-box;
  padding-left: 4.8rem;
  width: 4.9rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-LrG .space-AqJ .spaceinner-v3n {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-Doa {
  box-sizing: border-box;
  padding-right: 117.9rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-Doa .value-mq6 {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-Doa .space-4JQ {
  box-sizing: border-box;
  padding-left: 6.4rem;
  width: 6.5rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-Doa .space-4JQ .spaceinner-omn {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-hcG {
  box-sizing: border-box;
  padding-right: 116.3rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-hcG .value-FNt {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-hcG .space-8ha {
  box-sizing: border-box;
  padding-left: 8rem;
  width: 8.1rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-hcG .space-8ha .spaceinner-HKa {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-zjn {
  box-sizing: border-box;
  padding-right: 114.7rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-zjn .value-9cg {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-zjn .space-RaC {
  box-sizing: border-box;
  padding-left: 9.6rem;
  width: 9.7rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-zjn .space-RaC .spaceinner-kcU {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-fUY {
  box-sizing: border-box;
  padding-right: 113.1rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-fUY .value-CUU {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-fUY .space-TvC {
  box-sizing: border-box;
  padding-left: 11.2rem;
  width: 11.3rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-fUY .space-TvC .spaceinner-cHJ {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-von {
  box-sizing: border-box;
  padding-right: 14.5rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-von .value-H8Y {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-von .space-Zrk {
  box-sizing: border-box;
  padding-left: 109.8rem;
  width: 109.9rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-von .space-Zrk .spaceinner-u9v {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-DgQ {
  box-sizing: border-box;
  padding-right: 109.9rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-DgQ .value-mC8 {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-DgQ .space-E5i {
  box-sizing: border-box;
  padding-left: 14.4rem;
  width: 14.5rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-DgQ .space-E5i .spaceinner-yJC {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-V1e {
  box-sizing: border-box;
  padding-right: 108.3rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-V1e .value-dtY {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-V1e .space-KWU {
  box-sizing: border-box;
  padding-left: 16rem;
  width: 16.1rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-V1e .space-KWU .spaceinner-fKS {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-NzY {
  box-sizing: border-box;
  padding-right: 105.1rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-NzY .value-XcY {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-NzY .space-1Xi {
  box-sizing: border-box;
  padding-left: 19.2rem;
  width: 19.3rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-NzY .space-1Xi .spaceinner-Z3S {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-f6U {
  box-sizing: border-box;
  padding-right: 101.9rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-f6U .value-oiU {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-f6U .space-gnG {
  box-sizing: border-box;
  padding-left: 22.4rem;
  width: 22.5rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-f6U .space-gnG .spaceinner-EYt {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
.spacing-rfe .section-oat .list-Lz8 .item-kXE {
  box-sizing: border-box;
  padding-right: 98.7rem;
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: solid 0.0001rem rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-kXE .value-Vzc {
  margin-right: 0.8rem;
  width: 12.4rem;
  height: 4.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(255, 255, 255, 0.200000003);
  box-sizing: border-box;
  background-color: #101211;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-kXE .space-PaC {
  box-sizing: border-box;
  padding-left: 25.6rem;
  width: 25.7rem;
  height: 4.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.spacing-rfe .section-oat .list-Lz8 .item-kXE .space-PaC .spaceinner-je4 {
  width: 100%;
  height: 0.1rem;
  overflow: hidden;
  position: relative;
}
