
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.typography-Qrx {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.typography-Qrx .section-9pY {
  box-sizing: border-box;
  padding: 14.4rem 3.2rem 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typography-Ubv {
  margin-bottom: 7.9rem;
  font-size: 8.8rem;
  font-weight: 900;
  line-height: 0.8999999653;
  letter-spacing: -0.088rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .font-styles-n6p {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG {
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 4.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-dNL {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-dNL .classlist-ywz {
  margin: 0rem 125.9rem 1.6rem 0rem;
  width: calc(100% - 125.9rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-dNL .classlist-ywz .classitem-tp4 {
  margin-right: 0.8rem;
  width: 6.6rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-dNL .classlist-ywz .display-agt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-dNL .heading-iHJ {
  font-size: 16rem;
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: -0.16rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-cda {
  box-sizing: border-box;
  padding-bottom: 3.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-cda .classlist-xhS {
  margin: 0rem 129.1rem 1.6rem 0rem;
  width: calc(100% - 129.1rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-cda .classlist-xhS .classitem-gtL {
  margin-right: 0.8rem;
  width: 6rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-cda .classlist-xhS .h1-met {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-cda .heading-J92 {
  font-size: 8.8rem;
  font-weight: 900;
  line-height: 0.8999999653;
  letter-spacing: -0.088rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-13S {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-13S .classlist-M7J {
  margin: 0rem 128.7rem 1.6rem 0rem;
  width: calc(100% - 128.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-13S .classlist-M7J .classitem-5JC {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-13S .classlist-M7J .h2-ZjA {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-13S .heading-uo2 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 0.9;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-EaQ {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-EaQ .classlist-C1S {
  margin: 0rem 128.7rem 1.6rem 0rem;
  width: calc(100% - 128.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-EaQ .classlist-C1S .classitem-7u6 {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-EaQ .classlist-C1S .h3-QtC {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-EaQ .heading-kSG {
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 0.8999999853;
  letter-spacing: -0.052rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-s16 {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-s16 .classlist-QWp {
  margin: 0rem 128.7rem 1.6rem 0rem;
  width: calc(100% - 128.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-s16 .classlist-QWp .classitem-wFr {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-s16 .classlist-QWp .h4-DjA {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-s16 .heading-NMA {
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-soi {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-soi .classlist-qEk {
  margin: 0rem 128.7rem 1.6rem 0rem;
  width: calc(100% - 128.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-soi .classlist-qEk .classitem-NEg {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-soi .classlist-qEk .h5-35v {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-soi .heading-z1A {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.8999999762;
  letter-spacing: -0.032rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-5YQ {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-5YQ .classlist-DPi {
  margin: 0rem 128.7rem 1.6rem 0rem;
  width: calc(100% - 128.7rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-5YQ .classlist-DPi .classitem-XvC {
  margin-right: 0.8rem;
  width: 6.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-5YQ .classlist-DPi .h6-REt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-5YQ .heading-Zbz {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-UU4 {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-UU4 .classlist-dLx {
  margin: 0rem 121.4rem 1.6rem 0rem;
  width: calc(100% - 121.4rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-UU4 .classlist-dLx .classitem-Mnk {
  margin-right: 0.8rem;
  width: 6.2rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-UU4 .classlist-dLx .paragraph-main-3vU {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-UU4 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-CHa {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-G2Y {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-G2Y .classlist-pJx {
  margin: 0rem 120.2rem 1.6rem 0rem;
  width: calc(100% - 120.2rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-G2Y .classlist-pJx .classitem-jwi {
  margin-right: 0.8rem;
  width: 7rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-G2Y .classlist-pJx .paragraph-large-dXJ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-G2Y .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-m7i {
  max-width: 137.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-QRa {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(16, 18, 17, 0.200000003);
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-QRa .classlist-kkL {
  margin: 0rem 119.6rem 1.6rem 0rem;
  width: calc(100% - 119.6rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-QRa .classlist-kkL .classitem-FSC {
  margin-right: 0.8rem;
  width: 7.5rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-QRa .classlist-kkL .paragraph-small-8kt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-9pY .typelist-HpG .typeitem-QRa .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-GMJ {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .font-family-4HA {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk {
  width: 100%;
  height: 19.3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-XAk {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem 4.5rem 5.9rem 3.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-XAk .classitem-SoW {
  margin-bottom: 1.6rem;
  width: 16.4rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-XAk .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-9C8 {
  max-width: 60.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-BuW {
  box-sizing: border-box;
  padding: 3.2rem 3.9rem 5.9rem 3.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-BuW .classitem-XTa {
  margin-bottom: 1.6rem;
  width: 19rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-iUC .grid-NYk .gridcard-BuW .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-17r {
  max-width: 61.1rem;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.5;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-RSU {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .font-weight-xhJ {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .grid-5mv {
  height: 13.9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 1.2rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-DdE {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-DdE .classitem-mPr {
  margin-bottom: 1.6rem;
  width: 17.5rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-DdE .lorem-ipsum-TnU {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-BCg {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-BCg .classitem-iyJ {
  margin-bottom: 1.6rem;
  width: 15.2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-BCg .lorem-ipsum-Dv4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #101211;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-w5N {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-w5N .classitem-goe {
  margin-bottom: 1.6rem;
  width: 18.5rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.typography-Qrx .section-RSU .grid-5mv .gridcard-w5N .lorem-ipsum-BkQ {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.8999999653;
  letter-spacing: -0.022rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.typography-Qrx .section-fQg {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .line-height-cKv {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY {
  margin-right: 14rem;
  width: calc(100% - 14rem);
  height: 53.7rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN {
  width: 40.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-cDS {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem 3.1rem 5.9rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-cDS .classitem-jor {
  margin-bottom: 1.6rem;
  width: 8.6rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-cDS .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-Quz {
  max-width: 34.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-S5z {
  box-sizing: border-box;
  padding: 3.2rem 3.1rem 4.6rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-S5z .classitem-NEY {
  margin-bottom: 1.6rem;
  width: 7.9rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-m5ug-GfN .gridcard-S5z .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-4dA {
  max-width: 34.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.8999999364;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn {
  box-sizing: border-box;
  padding-left: 1.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-2iQ {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem 3.1rem 8rem 3.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-2iQ .classitem-ZCY {
  margin-bottom: 1.6rem;
  width: 8.6rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-2iQ .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-FbA {
  max-width: 34.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2999999788;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-scY {
  box-sizing: border-box;
  padding: 3.2rem 3.1rem 10.2rem 3.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-scY .classitem-p1z {
  margin-bottom: 1.6rem;
  width: 8.2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-fQg .grid-jQY .auto-group-4akc-Uwn .gridcard-scY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-i7N {
  max-width: 34.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-jHN {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .letter-spacing-fwi {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-wPS {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem 4.5rem 5.9rem 3.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-wPS .classitem-GAp {
  margin-bottom: 1.6rem;
  width: 6.8rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-wPS .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-Mxx {
  max-width: 60.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-bcQ {
  box-sizing: border-box;
  padding: 3.2rem 3.9rem 5.9rem 3.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-bcQ .classitem-iwv {
  margin-bottom: 1.6rem;
  width: 7.1rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-jHN .grid-nFe .gridcard-bcQ .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-oTa {
  max-width: 61.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.018rem;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem 14.4rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .text-transform-9Qx {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 0.8999999364;
  letter-spacing: -0.024rem;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p {
  margin-right: 14rem;
  width: calc(100% - 14rem);
  height: 34.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k {
  width: 40.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-Wui {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-Wui .classitem-em2 {
  margin-bottom: 1.6rem;
  width: 8.1rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-Wui .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-jXa {
  max-width: 30.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-crG {
  box-sizing: border-box;
  padding: 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-crG .classitem-ZmW {
  margin-bottom: 1.6rem;
  width: 12.8rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-sw5i-B6k .gridcard-crG .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-T6C {
  max-width: 30rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: lowercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 {
  box-sizing: border-box;
  padding-left: 1.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-GJY {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-GJY .classitem-c7W {
  margin-bottom: 1.6rem;
  width: 13.2rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-GJY .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Vwz {
  max-width: 23.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-nw6 {
  box-sizing: border-box;
  padding: 3.2rem 6.2rem 3.2rem 3.2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem rgba(16, 18, 17, 0.200000003);
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-nw6 .classitem-vnQ {
  margin-bottom: 1.6rem;
  width: 12.1rem;
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1000000636;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3d00;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.typography-Qrx .section-1Ze .grid-e6p .auto-group-mbbr-X64 .gridcard-nw6 .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-pMz {
  max-width: 31rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
