
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-Af6 {
  flex-direction: column;
  padding: 9.1rem 23.9rem 3.1rem 26.6rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .auto-group-a3hw-SFE {
    align-items: flex-end;
    flex-shrink: 0;
    margin-bottom: 13.4rem;
    width: 100%;
    display: flex;

    .rectangle-833-fQp {
      margin: 0rem 24rem 6.5rem 0rem;
      width: 32.4rem;
      height: 62.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-bw7z-UNG {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 37.1rem;
      align-items: center;

      .auto-group-cf3z-AF6 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 1.6rem 2rem 1.6rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .login-1mW {
          margin-bottom: 3.8rem;
          width: 100%;
          height: 46.2rem;
          position: relative;
          flex-shrink: 0;

          .group-1-huE {
            position: absolute;
            left: 2.2rem;
            top: 36.3rem;
            display: flex;
            align-items: flex-start;
            width: 28.9rem;
            height: 6.8rem;

            .line-1-coE {
              margin: 1.1rem 0.45rem 0rem 0rem;
              width: 9.2rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .auto-group-e8tn-REt {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.65rem;
              height: 100%;
              align-items: center;
              display: flex;

              .atau-X32 {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                font-family: SF Pro Display, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 3rem 0.1rem;
                color: #000000;
                flex-shrink: 0;
              }
              .lupa-kata-sandi-7mv {
                text-align: center;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: SF Pro Display, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .line-2-16c {
              flex-shrink: 0;
              margin-top: 1.05rem;
              width: 9.2rem;
              height: 0;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .frame-1-JbW {
            width: 33.9rem;
            height: 46.2rem;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            border-radius: 0.8rem;
            left: 0;
            overflow: hidden;
            box-shadow: 0.4rem 0.3rem 0.5rem #3a19c1;
          }
          .group-8-vct {
            position: absolute;
            left: 3.6rem;
            top: 12.2rem;
            width: 27.75rem;
            height: 7.2rem;

            .username-RJk {
              padding-left: 2.45rem;
              width: 24.35rem;
              display: flex;
              top: 0;
              align-items: center;
              flex-direction: column;
              border-radius: 3rem;
              box-sizing: border-box;
              height: 6.85rem;
              position: absolute;
              left: 3.4rem;

              .nama-pengguna-sRe {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                font-family: SF Pro Display, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 0rem 9.6rem 0.75rem 0rem;
                line-height: 1.2575;
                color: #000000;
                white-space: nowrap;
              }
              .auto-group-da4u-udE {
                flex-shrink: 0;
                text-align: center;
                background-image: url('REPLACE_IMAGE:I613:90;614:13');
                font-weight: 400;
                line-height: 1.2575;
                color: rgba(0, 0, 0, 0.25);
                font-family: SF Pro Display, 'Source Sans Pro';
                background-repeat: no-repeat;
                box-sizing: border-box;
                width: 100%;
                font-size: 1.6rem;
                background-position: center;
                background-size: cover;
                padding: 1.05rem 1.3rem 0.85rem 1.3rem;
                white-space: nowrap;
              }
            }
            .user-03c-T2U {
              vertical-align: top;
              border-radius: 10rem;
              width: 4.5rem;
              height: 4.8rem;
              position: absolute;
              left: 0;
              top: 2.4rem;
              object-fit: contain;
            }
          }
          .group-9-m3A {
            left: 3.6rem;
            top: 23rem;
            width: 27.75rem;
            height: 7.2rem;
            position: absolute;

            .username-HGQ {
              border-radius: 3rem;
              box-sizing: border-box;
              padding-left: 1.1rem;
              width: 24.35rem;
              height: 6.85rem;
              position: absolute;
              left: 3.4rem;
              top: 0;

              .nama-pengguna-cZa {
                color: #000000;
                font-family: SF Pro Display, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.75rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
              }
              .auto-group-j5x2-Yi8 {
                background-size: cover;
                margin-left: 1.35rem;
                box-sizing: border-box;
                line-height: 1.2575;
                font-family: SF Pro Display, 'Source Sans Pro';
                text-align: center;
                font-size: 1.6rem;
                color: rgba(0, 0, 0, 0.25);
                width: 21.9rem;
                font-weight: 400;
                background-image: url('REPLACE_IMAGE:I613:107;614:13');
                padding: 1.05rem 1.3rem 0.85rem 1.3rem;
                white-space: nowrap;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
            .user-03c-mat {
              left: 0;
              top: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              width: 4.5rem;
              height: 4.8rem;
              position: absolute;
            }
          }
          .masuk-hDe {
            top: 4.8rem;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 10.3rem;
            position: absolute;
            text-align: center;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            height: 3.9rem;
            left: 11.85rem;
          }
        }
        .dapatkan-aplikasi-mjJ {
          text-align: center;
          font-size: 1.3rem;
          line-height: 1.2575;
          font-family: SF Pro Display, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.8rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .image-1-Utc {
        width: 37.1rem;
        height: 8.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .footer-yqN {
    margin: 0rem 26.8rem 0rem 23.6rem;
    width: calc(100% - 50.4rem);
    height: 8.1rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .home-69J {
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: SF Pro Display, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-qeig-RSU {
      width: 24.1rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.2rem;

      .auto-group-mnvj-ZHn {
        margin: 0rem 2.2rem 2.9rem 4.2rem;
        width: calc(100% - 6.4rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .blog-tL4 {
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: SF Pro Display, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 7.3rem;
          font-size: 2rem;
        }
        .contact-E92 {
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: SF Pro Display, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .findmy-by-macipir-inc-MzL {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: SF Pro Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .about-U3N {
      color: #000000;
      font-family: SF Pro Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
}
