
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 532.105rem;
}.brand-KTr {
  width: 100%;
  height: 322.3rem;
  position: relative;
}
.brand-KTr .rectangle-12-C1r {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.brand-KTr .rectangle-15-hjJ {
  width: 234.2664rem;
  height: 322.3rem;
  position: absolute;
  left: 249.1469rem;
  top: 0;
  background-color: #101211;
}
.brand-KTr .pexels-tima-miroshnichenko-5846141-5-SB6 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845980-5-9LQ {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845968-5-s1W {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846245-5-nuA {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845971-5-iXv {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846282-5-eAg {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845943-5-yCx {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846269-5-sp8 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845947-5-c12 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845950-5-8k4 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845962-5-eiQ {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846142-5-NPW {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 174.8364rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846138-5-guz {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 97.8254rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846150-5-1SU {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 60.9916rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845940-5-92t {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845898-5-G7W {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845895-5-att {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 24.1578rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845892-5-WGk {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 138.0025rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846141-6-dcG {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845980-6-xeY {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845968-6-HRv {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 152.4789rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .welding-louisiana-172 {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .rectangle-13-gix {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 24.1578rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-KTr .rectangle-14-c6p {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 23.2943rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-KTr .get-in-touch-JkL {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 29.7411rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .some-body-copy-goes-right-here-owz {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 24.1578rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .subheading-uEL {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 28.0342rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .pexels-tima-miroshnichenko-5846245-6-oqW {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845971-6-vfE {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846282-6-ebE {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .group-17-ydW {
  width: 51.3101rem;
  height: 8.4064rem;
  position: absolute;
  left: 5.4746rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-KTr .group-17-ydW .group-16-6i8 {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-KTr .group-17-ydW .welding-louisiana-EJY {
  margin-top: 0.9418rem;
  width: 41.0307rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-KTr .pexels-tima-miroshnichenko-5845943-6-xEY {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 177.4634rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846269-6-fue {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845947-6-bHW {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845950-6-WvG {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845962-6-39W {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846142-6-yJ4 {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 423.9833rem;
  top: 202.4479rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846138-6-6da {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 346.9722rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5846150-6-2GL {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 310.1384rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845940-6-MJc {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 127.4944rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845898-6-Uu2 {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 182.6073rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845895-6-cEY {
  width: 35.2722rem;
  height: 52.9083rem;
  position: absolute;
  left: 273.3047rem;
  top: 237.7201rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .pexels-tima-miroshnichenko-5845892-6-LRS {
  width: 35.2722rem;
  height: 23.5148rem;
  position: absolute;
  left: 387.1495rem;
  top: 227.4324rem;
  object-fit: cover;
  vertical-align: top;
}
.brand-KTr .welding-louisiana-GK6 {
  width: 258.8rem;
  height: 35.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 50.9059rem;
  font-size: 27.8604rem;
  font-weight: 900;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: PP Formula, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .rectangle-16-yUQ {
  width: 41.7388rem;
  height: 13.0403rem;
  position: absolute;
  left: 273.3047rem;
  top: 96.8149rem;
  background-color: #ff3d00;
}
.brand-KTr .rectangle-17-WUL {
  width: 2.8108rem;
  height: 3.0312rem;
  position: absolute;
  left: 272.4413rem;
  top: 45.7253rem;
  background-color: #ff3d00;
}
.brand-KTr .get-in-touch-FB2 {
  width: 25rem;
  height: 5.1rem;
  position: absolute;
  left: 278.888rem;
  top: 100.7109rem;
  font-size: 4.0455rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #101211;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .some-body-copy-goes-right-here-jbz {
  width: 53.9rem;
  height: 5.1rem;
  position: absolute;
  left: 273.3047rem;
  top: 82.6877rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .subheading-ptL {
  width: 20.3rem;
  height: 5.1rem;
  position: absolute;
  left: 277.181rem;
  top: 44.4393rem;
  font-size: 4.0455rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3d00;
  font-family: PP Object Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.brand-KTr .group-11-L5z {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 146.0858rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-19-fPA {
  width: 16.5519rem;
  height: 16.5518rem;
  position: absolute;
  left: 395.2327rem;
  top: 274.0762rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-18-b1v {
  width: 51.31rem;
  height: 8.4064rem;
  position: absolute;
  left: 254.6214rem;
  top: 6.2094rem;
  display: flex;
  align-items: center;
}
.brand-KTr .group-18-b1v .group-16-iMS {
  margin-right: 1.8113rem;
  width: 8.4681rem;
  height: 8.4064rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-KTr .group-18-b1v .welding-louisiana-SHS {
  margin-top: 0.9418rem;
  width: 41.0306rem;
  height: 4.9246rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.brand-KTr .group-12-NRz {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 193.8136rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-20-hjA {
  width: 16.295rem;
  height: 16.295rem;
  position: absolute;
  left: 442.9604rem;
  top: 274.2048rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-13-SRr {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 172.6502rem;
  top: 276.244rem;
}
.brand-KTr .group-13-SRr .vector-Ase {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-13-SRr .vector-iPN {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-21-fJc {
  width: 11.1512rem;
  height: 12.2303rem;
  position: absolute;
  left: 421.7971rem;
  top: 276.244rem;
}
.brand-KTr .group-21-fJc .vector-C3e {
  margin-bottom: 1.4474rem;
  width: 9.605rem;
  height: 7.1858rem;
  object-fit: contain;
  vertical-align: top;
}
.brand-KTr .group-21-fJc .vector-Xrc {
  width: 11.1512rem;
  height: 3.5972rem;
  object-fit: contain;
  vertical-align: top;
}
