
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.components-vLt {
  position: relative;
  width: 100%;
  height: 88.2rem;
  overflow: hidden;

  .section-G9r {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 14.4rem 3.2rem;
    position: relative;
    background-color: #ffffff;

    .components-PVN {
      text-transform: uppercase;
      color: #101211;
      font-family: PP Formula, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 7.9rem;
      font-size: 8.8rem;
      font-weight: 900;
      line-height: 0.8999999653;
      letter-spacing: -0.088rem;
    }
    .buttons-Hak {
      font-size: 2.4rem;
      font-weight: 700;
      color: #101211;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.2rem;
      line-height: 0.8999999364;
      letter-spacing: -0.024rem;
      text-transform: uppercase;
      font-family: PP Object Sans, 'Source Sans Pro';
    }
    .frame-1-Cxc {
      width: 100%;
      row-gap: 1.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .buttonarrowsmall-MKi {
        padding: 2.4rem 104.8rem 2.4rem 2.4rem;
        width: 100%;
        overflow: hidden;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        column-gap: 1.6rem;
        align-items: center;
        border: dashed 0.1rem #9747ff;
        border-radius: 0.8rem;
        position: relative;

        .styleprimary-statedefault-4E8 {
          flex-shrink: 0;
          width: 6.4rem;
          height: 6.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
        }
        .styleprimary-statehovered-B3r {
          width: 6.4rem;
          height: 6.4rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
        }
        .stylesecondary-statedefault-JPN {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
          width: 6.4rem;
          height: 6.4rem;
        }
        .stylesecondary-statehovered-RTz {
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
          width: 6.4rem;
          height: 6.4rem;
          object-fit: contain;
        }
      }
      .buttondefault-v9r {
        box-sizing: border-box;
        height: 10.1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 2.4rem 63.2rem 2.4rem 2.4rem;
        width: 100%;
        column-gap: 1.6rem;
        align-items: center;
        border: dashed 0.1rem #9747ff;

        .styleprimary-statedefault-pFE {
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: PP Object Sans, 'Source Sans Pro';
          box-sizing: border-box;
          background-color: #ff3d00;
          width: 16.8rem;
          cursor: pointer;
          line-height: 1.5;
          display: flex;
          align-items: center;
          height: 100%;
          text-transform: uppercase;
          color: #101211;
          border: solid 0.2rem #ff3d00;
        }
        .styleprimary-statehovered-rhi {
          align-items: center;
          width: 16.8rem;
          line-height: 1.5;
          text-transform: uppercase;
          font-family: PP Object Sans, 'Source Sans Pro';
          display: flex;
          box-sizing: border-box;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          color: #ffffff;
          justify-content: center;
          height: 100%;
          white-space: nowrap;
          border: solid 0.2rem #101211;
          background-color: #101211;
        }
        .stylesecondary-statedefault-89S {
          height: 100%;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #101211;
          font-family: PP Object Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          border: solid 0.2rem #ff3d00;
          width: 16.8rem;
          font-weight: 700;
          text-transform: uppercase;
          justify-content: center;
          box-sizing: border-box;
          cursor: pointer;
          align-items: center;
          flex-shrink: 0;
        }
        .stylesecondary-statehovered-pHA {
          width: 16.8rem;
          font-size: 1.4rem;
          box-sizing: border-box;
          line-height: 1.5;
          text-transform: uppercase;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          font-weight: 700;
          font-family: PP Object Sans, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background-color: #ff3d00;
          color: #101211;
          border: solid 0.2rem #ff3d00;
        }
      }
      .buttonplaysmall-4hJ {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        display: flex;
        column-gap: 1.6rem;
        border-radius: 0.8rem;
        padding: 2.4rem 95.2rem 2.4rem 2.4rem;
        overflow: hidden;
        align-items: center;
        border: dashed 0.1rem #9747ff;
        flex-shrink: 0;

        .styleprimary-statedefault-afe {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
          width: 8.8rem;
          height: 8.8rem;
        }
        .styleprimary-statehovered-K7S {
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
          width: 8.8rem;
          height: 8.8rem;
        }
        .stylesecondary-statedefault-Shr {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
          width: 8.8rem;
          height: 8.8rem;
        }
        .stylesecondary-statehovered-yhn {
          width: 8.8rem;
          height: 8.8rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 9999.9rem;
          flex-shrink: 0;
        }
      }
    }
  }
}
